body {
    font-family: 'Nunito', sans-serif !important;
    background-image: url("assets/forma1.svg"), url("assets/forma2.svg");
    background-size: 30%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom 60px left -80px, top 75px right -80px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 90px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ebebeb;
}

.logo {
    margin-left: 120px;
}

#menu {
    display: flex;
    margin-right: 120px;
}

.navbar {
    color: #242424;
    font-size: 20px;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 4rem;
    margin-bottom: 40px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.NamesForms {
    display: flex;
}

.form-floating {
    margin: 10px;
}

.btn {
    width: 37vw;
    height: 40px;
    background-color: #FCA60F !important;
    color: white !important;
    text-decoration: none;
    border-radius: 2px;
    border-color: none;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

/* mobile */
@media (max-width: 480px) {
    body {
        background-size: 70%, 70%;
        background-position: top 130px left -130px, bottom 40px right -120px;
    }
    
    nav {
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin-bottom: 20px;
        margin-top: 30px;
    }

    .logo {
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 10px;
    }
    
    #menu {
        text-align: center;
        margin-left: 0;
        margin-right: 0;
    }
    
    .navbar{
        font-size: 15px;
    }

    .title {
        font-size: 3rem;
        margin-bottom: 20px;
    }

    .NamesForms {
        display: flex;
        flex-direction: column;
    }

    .form-control {
        width: 80vw !important;
    }
    
    .btn {
        width: 80vw !important;
        margin-top: 1rem;
    }

}