body {
    font-family: 'Nunito', sans-serif;
    background-image: url("assets/forma1.svg"), url("assets/forma2.svg");
    background-size: 30%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom 10px left -80px, top 70px right -80px;
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 90px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ebebeb;
}

.logo {
    display: flex;
    margin-left: 120px;
}

#menu {
    margin-right: 120px;
}

.navbar {
    color: #242424;
    font-size: 20px;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: 40px;
}

.options {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

h1 {
    margin-top: 10px;
    margin-bottom: 0;
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
}

.cafe {
    width: 181.35px;
    height: 136.65px;
    margin-right: 50px;
}

.division {
    width: 60%;
}

/* mobile */
@media (max-width: 480px) {
    body {
        background-size: 70%, 70%;
        background-position: top 130px left -130px, bottom 40px right -120px;
    }
    
    nav {
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin-bottom: 20px;
        margin-top: 30px;
    }

    .logo {
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 10px;
    }
    
    #menu {
        text-align: center;
        margin-left: 0;
        margin-right: 0;
    }
    
    .navbar{
        font-size: 15px;
    }
    
    .title {
        font-size: 3rem;
        margin-bottom: 20px;
    }
    
    .options {
        margin-left: auto;
        margin-right: auto;
    }
    
    h1 {
        font-size: 1.7rem;
    }
    
    h3 {
        font-size: 0.9rem;
    }

    p {
        font-size: 12px;
    }
    
    .cafe {
        width: 120.9px;
        height: 91.1px;
        margin-right: 50px;
    }
    
    .division {
        width: 95%;
    }
}