body {
    font-family: 'Nunito', sans-serif;
    background-image: url("assets/forma1.svg"), url("assets/forma2.svg");
    background-size: 30%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom 20px left -120px, top 70px right -120px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 90px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ebebeb;
}

.logo {
    margin-left: 120px;
}

#menu {
    margin-right: 120px;
}

.navbar {
    color: #242424;
    font-size: 20px;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

#info {
    margin-left: 5rem;
    margin-right: 3rem;
}

.textinfo {
    font-size: 30px;
    margin-bottom: 50px;
}

.button{
    background-color: #FCA60F;
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding: 7px 35px;
    border-radius: 2px;
    margin-bottom: 10px;
}

.socialmedia {
    margin-top: 30px;
    margin-right: 10px;
}

.copo {
    width: 121.3px;
    height: 203.3px;
    margin-right: 15rem;
    margin-left: 4rem;
}

.textscroll {
    font-size: 16px;
    text-align: center;
    margin-top: 7rem;
    margin-bottom: 10px;
}

.imgscroll {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* mobile */
@media (max-width: 480px) {
    body {
        background-size: 70%, 70%;
        background-position: top 130px left -130px, bottom 40px right -120px;
    }
    
    nav {
        flex-direction: column;
        justify-content: center;
        align-content: center;
        margin-bottom: 20px;
        margin-top: 30px;
    }

    .logo {
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 10px;
    }
    
    #menu {
        text-align: center;
        margin-left: 0;
        margin-right: 0;
    }
    
    .navbar{
        font-size: 15px;
    }

    main {
        flex-wrap: wrap-reverse;
    }
    
    #info {
        margin-left: 0;
        margin: auto;
    }

    .textinfo {
        width: 60vw;
        text-align: center;
        font-size: 19px;
        margin-top: 100px;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .copo {
        width: 0;
        height: 0;
    }
    
    .button{
        font-size: 17px;
        padding: 7px 50px;
        border-radius: 2px;
        margin-bottom: 10px;
        margin-left: 40px;
        margin-right: 40px;
    }

    .icon {
        display: flex;
        justify-content: center;
        margin-top: 250px;
    }

    section {
        display: none;
    }
}