body {
    font-family: 'Nunito', sans-serif;
    background-image: url("assets/forma1.svg"), url("assets/forma2.svg");
    background-size: 30%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom 10px left -80px, top 70px right -80px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 90px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ebebeb;
}

.logo {
    margin-left: 120px;
}

#menu {
    margin-right: 120px;
}

.navbar {
    color: #242424;
    font-size: 20px;
    text-decoration: none;
    margin-left: 40px;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

#info {
    width: 500px;
    margin-left: 120px;
}

.textinfo {
    font-size: 30px;
    margin-bottom: 50px;
}

.button{
    background-color: #FCA60F;
    font-size: 18px;
    color: white;
    text-decoration: none;
    padding: 7px 35px;
    border-radius: 2px;
    margin-bottom: 10px;
}

.socialmedia {
    margin-top: 30px;
    margin-right: 10px;
}

.copo {
    width: 121.3px;
    height: 203.3px;
    margin-right: 180px;
}

.textscroll {
    font-size: 16px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 10px;
}

.imgscroll {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
